.deps
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
nickle-config.h
nickle-config.h.in
build
compile
config.log
config.status
configure
date-sh
depcomp
gram.c
gram.h
install-sh
lex.c
missing
nickle.1
stamp-h1
version-sh
nickle-[1-9].*
nickle_[1-9].*
nickle
ChangeLog
build-stamp
configure-stamp
debian/files
debian/nickle.debhelper.log
debian/nickle.substvars
test/math-tables
test/math-tables.5c
ylwrap
test-driver
test-nickle.sh
MakeOut
TAGS
build-files
nickle.spec
*.log
*.trs
